<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- CSS Style -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" media="screen"/>

    <style>
      html, body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
      }
      .up, .down, .det  { cursor: pointer; }
      .up:after         { content: '△'; transform:translate(100px,100px);}
      .up:hover:after   { content: '▲'; }
      .down:after       { content: '▽'; }
      .down:hover:after { content: '▼'; }
    </style>

    <!-- FONT -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Spartan:400,600,700&display=swap" rel="stylesheet">

    <title>Welcome!</title>
  </head>
  <body>
    <div id="welcome">
      <div class="row one" style="margin-top:17%;">
        <div class="col-md-6">
          <h1 class="text" id="top">Hi there,<br>nice to meet you!</h1>
          <h1 class="text">Salut! Enchanté!</h1>
          <div class="text" id="bottom">Welcome to Surya's website.</div>
          <label class="switch" style="margin-top: 2vh;">
            <input type="checkbox">
            <span class="slider round"></span>
          </label>
        </div>
        <div class="col-md-6" id="detail">
          <h2 class="text">Get to know me:</h2>
          <div id="accordion">
            <div class="row about">
              <div class="col-md-8">
                <h1 id="about" class="title">About</h1>
                <div class="more">
                  <p>
                    Second year undergraduate Computer Science studentwho is seeking for an experience 
                    in Tech (Engineering) and Data Science Department. A hardworking and tech-savvy person 
                    who also value in creativity and analytical thinking
                  </p>
                </div>
              </div>
              <div class="col-md-4 move">
                <span class="up"></span>
                <span class="down"></span>
              </div>
            </div>

            <div class="row skills">
              <div class="col-md-8">
                <h1 id="skills" class="title">Skills</h1>
                <div class="more">
                  <ul style="margin-left: 20px;">
                    <li>Programming (Java, Python)</li>
                    <li>Analytics (Python, PostgreSQL, Excel)</li>
                    <li>Web/Media (Illustrator, HTML/CSS/JavaScript)</li>
                  </ul>
                </div>
              </div>
              <div class="col-md-4 move">
                <span class="up"></span>
                <span class="down"></span>
              </div>
            </div>

            <div class="row education">
              <div class="col-md-8">
                <h1 id="education" class="title">Education</h1>
                <div class="more">
                  <ul style="margin-left: 20px;">
                    <li>Taruna Bakti Senior High School (2015-2018)</li>
                    <li>Faculty of Computer Science, Universitas Indonesia (2018-Present)</li>
                  </ul>
                </div>
              </div>
              <div class="col-md-4 move">
                <span class="up"></span>
                <span class="down"></span>
              </div>
            </div>

            <div class="row experience">
              <div class="col-md-8">
                <h1 id="experience" class="title">Experience</h1>
                <div class="more">
                  <ul style="margin-left: 20px;">
                    <li>Social Media Intern at DailySocial.id</li>
                    <li>Database Teaching Assistant at Fasilkom UI</li>
                    <li>Manager of Human Resources at PERAK Fasilkom</li>
                    <li>Vice Person in Charge of Digital Marketing at COMPFEST</li>
                  </ul>
                </div>
              </div>
              <div class="col-md-4 move">
                <span class="up"></span>
                <span class="down"></span>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"   integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="   crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script>
      jQuery('.move').children().click(function (e) {
          var $div = $(this).closest('.row');
          if (jQuery(e.target).is('.down')) {
              $div.next('.row').after($div);
          } else {
              $div.prev('.row').before($div);
          }
      });
      $(document).ready(function() {
          var accordion = $("#accordion .row .col-md-8");
          accordion.accordion({
              active: false,
              collapsible :true,
              animate : 300
          });
          var input = $("input");
          var i = -1;
          input.click(function() {
            i = i < 1 ? ++i : 0;

            if(i == 0) {
              $("body").css({"background-image": "linear-gradient(to right ,#78ffd6,#007991)"}); 
              $("#welcome .text").css({"color": "#eef2f3"});  
              $("#welcome .text#bottom").css({"color": "#434343"}); 
              $("#welcome .row.one #detail h1").css({"background-color": "#78ffd6",
                                                      "color": "#434343"});
              $("#welcome .row.one #detail .more").css({"color":"#eef2f3"})
            }
            if(i == 1) {
              $("body").css({"background-image": "linear-gradient(to left ,#eef2f3,#8e9eab)"});
              $("#welcome .text").css({"color": "#434343"});  
              $("#welcome .text#bottom").css({"color": "#eef2f3"}); 
              $("#welcome .row.one #detail h1").css(({"background-color": "#8e9eab",
                                                      "color": "#eef2f3"}));   
              $("#welcome .row.one #detail .more").css({"color":"#434343"})  
            }
          });
      });
    </script>
  </body>
</html>