* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-image: linear-gradient(to left ,#eef2f3,#8e9eab);
}
#welcome{
    margin-left: 10vw;
    font-family: 'Playfair Display';
}
#welcome .text {
    margin-top: 0;
    max-width: 50vw;
    font-size: 150%;
    color: #434343;
}
#welcome .text#top {
    font-size: 400%;
    font-weight: bold;
}

#welcome .text#bottom {
    color: #eef2f3;
    font-size: 200%;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #eef2f3;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #8e9eab;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #007991;
}

input:focus + .slider {
    box-shadow: 0 0 1px #007991;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background-color: #eef2f3;
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#welcome .row.one #detail {
    font-family: 'Spartan';
    font-size: 15px;
}

#welcome .row.one #detail #accordion{
    max-height: 38vh;
    overflow-y: scroll;
    margin-bottom: 17%;
}

#welcome .row.one #detail h1{
    padding: 15px;
    padding-left: 20px;
    margin-bottom: 10px;
    max-width: 500px;

    background-color: #8e9eab;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 0 rgba(0,0,0,0.2);
    
    font-size: 18px;
    
    color: #eef2f3;
}

#welcome .row.one #detail .move{
    padding: 15px;
    margin-bottom: 10px;
    max-width: 500px;
    
    font-size: 18px;
}

#welcome .row.one #detail .more {
    padding: 15px;
    padding-top: 0px;
    padding-left: 20px;
    margin-bottom: 10px;
    max-width: 500px;

    font-size: 14px;
    color: #434343;
}

.row .col-md-8 {
    margin-bottom: 1vh;
}

#welcome .row.one #detail h1:hover{
    box-shadow: inset 3px 3px 3px 0 rgba(0,0,0,0.2);
}